<!DOCTYPE html>    <!-- Essential line which indicate it is an HTML page -->

<html lang="en">



    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load static %}

        <title>{% block title %}Personal Dashboard{% endblock %}</title>


        <link rel="stylesheet" type="text/css" href="{% static 'anky_cards_manager/css/bootstrap.min.css' %}" />

    </head>



    <body>

        <div class="container">
            <div class="row justify-content-center">
                {% block content %}{% endblock %}
            </div>
        </div>

    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}

</html>