<form method="post" action="{% url 'anky_cards_manager:tags_manager' %}" id="tag_manager_table_form">

{% csrf_token %}

    <table class="table table-striped table-sm table-bordered">
        <thead style="text-align:center">
            <tr>
                <th scope="col">Tag</th>
                <th scope="col">Full deck</th>
                <th scope="col">Only fundamental concepts</th>
                <th scope="col">Only general rules for implementation and examples</th>
                <th scope="col">General Knowledge</th>
                <th scope="col">Only red flaged cards</th>
            </tr>
        </thead>
        <tbody style="text-align:center" id="tag_manager_table_body">
            {% for tag in tags %}
            <tr>
                <th scope="row">{{ tag.name }}</th>

                {% if tag.selected %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.selected" id="{{ tag.name }}.selected" checked/></td>
                {% else %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.selected" id="{{ tag.name }}.selected"/></td>
                {% endif %}

                {% if tag.concept_selected %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.concept_selected" id="{{ tag.name }}.concept_selected" checked/></td>
                {% else %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.concept_selected" id="{{ tag.name }}.concept_selected"/></td>
                {% endif %}

                {% if tag.procedure_selected %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.procedure_selected" id="{{ tag.name }}.procedure_selected" checked/></td>
                {% else %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.procedure_selected" id="{{ tag.name }}.procedure_selected"/></td>
                {% endif %}

                {% if tag.culturegenerale_selected %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.culturegenerale_selected" id="{{ tag.name }}.culturegenerale_selected" checked/></td>
                {% else %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.culturegenerale_selected" id="{{ tag.name }}.culturegenerale_selected"/></td>
                {% endif %}

                {% if tag.red_selected %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.red_selected" id="{{ tag.name }}.red_selected" checked/></td>
                {% else %}
                    <td><input class="form-check-input" type="checkbox" name="{{ tag.name }}.red_selected" id="{{ tag.name }}.red_selected"/></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modal_tag_manager_submit">Submit changes</button>
    <button type="reset" class="btn btn-primary" id="tag_manager_reset">Reset tags info</button>
    <div id="tag_manager_submit_alert"><em>{{ alert }}</em></div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Safety step for a better Anki experience</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              Check that Anki is open on the homepage and not busy adding/modifying notes.
              Then, click on "Confirm submission"
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="tag_manager_submit">Confirm submission</button>
          </div>
        </div>
      </div>
    </div>

</form>
